<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mistakes - Web Player</title>
</head>
<body>

    <div class="container">

        <header>

            <div class="header_container">
                <a href="{% url 'home' %}" class="icon_main_header_container">
                    <img src="https://preview.keenthemes.com/metronic8/demo16/assets/media/logos/default-small.svg" alt="">
                    <h1>Mistakes</h1>
                </a>
                <div class="page_catalogs_main_header_container">
                    <div class="home_page_catalogs self_page_catalog">
                        <a href="{% url 'home' %}" class="home_page">
                            <svg role="img" height="24" width="24" aria-hidden="true" class="Svg-sc-ytk21e-0 uPxdw home-active-icon" viewBox="0 0 24 24">
                                <path d="M13.5 1.515a3 3 0 00-3 0L3 5.845a2 2 0 00-1 1.732V21a1 1 0 001 1h6a1 1 0 001-1v-6h4v6a1 1 0 001 1h6a1 1 0 001-1V7.577a2 2 0 00-1-1.732l-7.5-4.33z"></path>
                            </svg>
                            <h1>Home</h1>
                        </a>
                    </div>
                    <div class="search_page_catalogs self_page_catalog">
                        <a href="{% url 'search' %}" class="search_page">
                            <svg role="img" height="24" width="24" aria-hidden="true" class="Svg-sc-ytk21e-0 uPxdw search-icon" viewBox="0 0 24 24">
                                <path d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 101.414-1.414l-4.344-4.344a9.157 9.157 0 002.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z"></path>
                            </svg>
                            <h1>Search</h1>
                        </a>
                    </div>
                    <div class="my_library_page_catalogs self_page_catalog">
                        <a href="{% url 'my_library' %}" class="my_library_page">
                            <svg role="img" height="24" width="24" aria-hidden="true" class="Svg-sc-ytk21e-0 uPxdw collection-icon" viewBox="0 0 24 24">
                                <path d="M14.5 2.134a1 1 0 011 0l6 3.464a1 1 0 01.5.866V21a1 1 0 01-1 1h-6a1 1 0 01-1-1V3a1 1 0 01.5-.866zM16 4.732V20h4V7.041l-4-2.309zM3 22a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1zm6 0a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1z"></path>
                            </svg>
                            <h1>My library</h1>
                        </a>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="my_functions_main_header_container">
                    <h1><a href="{% url 'my_songs_playlist' %}">My songs</a></h1>
                </div>
            </div>

        </header>

        <section>

            <div class="section_header_block">
                <div class="profile_section_header_block">
                    <div class="profile_block_section_header" id="profile_block_section_header">
                        <div class="profile_icon_block">
                            <svg role="img" height="16" width="16" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 uPxdw">
                                <path d="M6.233.371a4.388 4.388 0 015.002 1.052c.421.459.713.992.904 1.554.143.421.263 1.173.22 1.894-.078 1.322-.638 2.408-1.399 3.316l-.127.152a.75.75 0 00.201 1.13l2.209 1.275a4.75 4.75 0 012.375 4.114V16H.382v-1.143a4.75 4.75 0 012.375-4.113l2.209-1.275a.75.75 0 00.201-1.13l-.126-.152c-.761-.908-1.322-1.994-1.4-3.316-.043-.721.077-1.473.22-1.894a4.346 4.346 0 01.904-1.554c.411-.448.91-.807 1.468-1.052zM8 1.5a2.888 2.888 0 00-2.13.937 2.85 2.85 0 00-.588 1.022c-.077.226-.175.783-.143 1.323.054.921.44 1.712 1.051 2.442l.002.001.127.153a2.25 2.25 0 01-.603 3.39l-2.209 1.275A3.25 3.25 0 001.902 14.5h12.196a3.25 3.25 0 00-1.605-2.457l-2.209-1.275a2.25 2.25 0 01-.603-3.39l.127-.153.002-.001c.612-.73.997-1.52 1.052-2.442.032-.54-.067-1.097-.144-1.323a2.85 2.85 0 00-.588-1.022A2.888 2.888 0 008 1.5z"></path>
                            </svg>
                        </div>
                        <div class="profile_username_blcok">
                            {{ user.username }}
                        </div>
                        <div class="profile_open_block">
                            <svg role="img" height="16" width="16" fill="#FFF" aria-hidden="true" class="Svg-sc-ytk21e-0 uPxdw eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16">
                                <path d="M14 6l-6 6-6-6h12z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="profile_detail_section_header_block" id="profile_detail_section_header_block">
                        <a href="{% url 'my_profile' %}">Profile</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
            <div class="section_container">
                <div class="welcome_block_section_container">
                    <h1>Good afternoon</h1>
                </div>
                <div class="playlists_block_section_container">
                    <a href="{% url 'my_songs_playlist' %}" class="playlist_block">
                        <img src="https://mosaic.scdn.co/640/ab67616d00001e023dcab0455635fb8edb563808ab67616d00001e025393c5d3cac806092a9bc468ab67616d00001e026ca5c90113b30c3c43ffb8f4ab67616d00001e02726d48d93d02e1271774f023" alt="">
                        <h1>My songs</h1>
                    </a>
                    <a href="{% url 'for_gamers_chartlist' %}" class="playlist_block">
                        <img src="https://i.scdn.co/image/ab67fb8200005caf26dd3719e8824756914ae61f" alt="">
                        <h1>For Gamers</h1>
                    </a>
                    <a href="{% url 'netflix_chartlist' %}" class="playlist_block">
                        <img src="https://i.scdn.co/image/ab67fb8200005caf0b0c71c920d6a745461ada69" alt="">
                        <h1>Netflix</h1>
                    </a>
                    <a href="{% url 'gorillaz_artist' %}" class="playlist_block">
                        <img src="https://i.scdn.co/image/ab6761610000f178c19b16a0104300245c65c164" alt="">
                        <h1>Gorillaz</h1>
                    </a>
                    <a href="{% url 'relax_chartlist' %}" class="playlist_block">
                        <img src="https://i.scdn.co/image/ab67fb8200005caf47e942f5bea637f4f4760170" alt="">
                        <h1>Mix for relax</h1>
                    </a>
                    <a href="{% url 'for_you_chartlist' %}" class="playlist_block">
                        <img src="https://t.scdn.co/images/ea364e99656e46a096ea1df50f581efe" alt="">
                        <h1>For you</h1>
                    </a>
                </div>
                <div class="title_only_for_you_block">
                    <h1>Only for you, {{ user.username }}</h1>
                </div>
                <div class="only_for_you_block_section_container">
                    <a href="{% url 'new_releases_chartlist' %}" class="only_for_you_block">
                        <img src="https://i.scdn.co/image/ab67706f000000027ea4d505212b9de1f72c5112" alt="">
                        <div class="info_only_for_you_block">
                            <h1>New Releases</h1>
                            <p>New tracks and rare compositions</p>
                        </div>
                    </a>
                    <a href="{% url 'pop_chartlist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab67fb8200005cafa862ab80dd85682b37c4e768" alt="">
                        <div class="info_only_for_you_block">
                            <h1>Pop</h1>
                            <p>Bazanji, LaLion, YBN, Nahmir and etc.</p>
                        </div>
                    </a>
                    <a href="{% url 'hip_hop_chartlist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab67fb8200005caf7e11c8413dc33c00740579c1" alt="">
                        <div class="info_only_for_you_block">
                            <h1>Hip-Hop</h1>
                            <p>Ninety One, Moldanazar, Aro and etc.</p>
                        </div>
                    </a>
                    <a href="{% url 'pharaoh_artist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab6761610000f1786f159d0c9314e98a9039bc61" alt="">
                        <div class="info_only_for_you_block">
                            <h1>PHARAOH</h1>
                            <p>Fresh music from your favorite artists</p>
                        </div>
                    </a>
                </div>
                <div class="title_personal_selections_block">
                    <h1>Personal selections</h1>
                </div>
                <div class="personal_selections_block_section_container">
                    <a href="{% url 'on_repeat' %}" class="only_for_you_block">
                        <img src="https://daily-mix.scdn.co/covers/on_repeat/PZN_On_Repeat2_DEFAULT-ru.jpg" alt="">
                        <div class="info_only_for_you_block">
                            <h1>On repeat</h1>
                            <p>Tracks you like now</p>
                        </div>
                    </a>
                    <a href="{% url 'time_capsule' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://daily-mix.scdn.co/covers/time-capsule/time-capsule-blue_DEFAULT-ru.jpg" alt="">
                        <div class="info_only_for_you_block">
                            <h1>Time capsule</h1>
                            <p>We have created a nostalgic playlist</p>
                        </div>
                    </a>
                    <a href="{% url 'flashback' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://daily-mix.scdn.co/covers/backtracks/PZN_Repeat_Rewind2_DEFAULT-ru.jpg" alt="">
                        <div class="info_only_for_you_block">
                            <h1>Flashback</h1>
                            <p>Tracks that were your favorites</p>
                        </div>
                    </a>
                </div>
                <div class="title_best_songs_block">
                    <h1>Best tracks</h1>
                    <a href="{% url 'my_library' %}">See all</a>
                </div>
                <div class="best_songs_block_section_container">
                    <a href="{% url 'gorillaz_artist' %}" class="only_for_you_block">
                        <img src="https://i.scdn.co/image/ab6761610000f178c19b16a0104300245c65c164" alt="">
                        <div class="info_only_for_you_block">
                            <h1>This Is Gorillaz</h1>
                            <p>This Is Gorillaz. All best tracks.</p>
                        </div>
                    </a>
                    <a href="{% url 'skriptonite_artist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab67706f00000002dcf797c980fe681ff87759f6" alt="">
                        <div class="info_only_for_you_block">
                            <h1>This Is Scriptonite</h1>
                            <p>This Is Scriptonite. All best tracks.</p>
                        </div>
                    </a>
                    <a href="{% url 'sixnine_artist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab6761610000f1780f9be189941db077530d5ae0" alt="">
                        <div class="info_only_for_you_block">
                            <h1>This Is 6ix9ine</h1>
                            <p>This Is 6ix9ine. All best tracks.</p>
                        </div>
                    </a>
                    <a href="{% url 'feduk_artist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab6761610000f178c479d938da919672bbc53bb6" alt="">
                        <div class="info_only_for_you_block">
                            <h1>This Is FEDUK</h1>
                            <p>This Is FEDUK. All best tracks.</p>
                        </div>
                    </a>
                    <a href="{% url 'justin_bieber_artist' %}" class="only_for_you_block margin_only_for_you_block">
                        <img src="https://i.scdn.co/image/ab6761610000f1788ae7f2aaa9817a704a87ea36" alt="">
                        <div class="info_only_for_you_block">
                            <h1>This Is Justin Bieber</h1>
                            <p>This Is Justin Bieber. All best tracks.</p>
                        </div>
                    </a>
                </div>
            </div>

        </section>

    </div>

    <script src="{% static 'main/js/profile_block.js' %}"></script>
</body>
</html>